<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <lcb_custommenu>
            <version>0.1.0</version>
        </lcb_custommenu>
    </modules>
    <global>
        <helpers>
            <custommenu>
                <class>LCB_CustomMenu_Helper</class>
            </custommenu>
        </helpers>
        <blocks>
            <custommenu>
                <class>LCB_CustomMenu_Block</class>
            </custommenu>
        </blocks>
        <models>
            <custommenu>
                <class>LCB_CustomMenu_Model</class>
                <resourceModel>custommenu_mysql4</resourceModel>
            </custommenu>
            <custommenu_mysql4>
                <class>LCB_CustomMenu_Model_Mysql4</class>
                <entities>
                    <links>
                        <table>lcb_custommenu_links</table>
                    </links>
                </entities>
            </custommenu_mysql4>
        </models>
        <resources>
            <lcb_custommenu_setup>
                <setup>
                    <module>LCB_CustomMenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_custommenu_setup>
            <lcb_custommenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lcb_custommenu_write>
            <lcb_custommenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lcb_custommenu_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <lcb_custommenu>
                    <file>custommenu.xml</file>
                </lcb_custommenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <custommenu>
                <use>admin</use>
                <args>
                    <module>LCB_CustomMenu</module>
                    <frontName>admin_custommenu</frontName>
                </args>
            </custommenu>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <custommenu module="custommenu">
                        <title>Menu</title>
                        <sort_order>100</sort_order>
                        <action>admin_custommenu/adminhtml_links</action>
                    </custommenu>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <custommenu module="custommenu" translate="title">
                                    <title>Menu</title>
                                    <sort_order>1000</sort_order>
                                    <children>
                                        <links translate="title">
                                            <title>Manage Links</title>
                                            <sort_order>0</sort_order>
                                        </links>
                                    </children>
                                </custommenu>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <custommenu>
                    <file>custommenu.xml</file>
                </custommenu>
            </updates>
        </layout>
    </adminhtml>
</config>
